header {
	background-color:#008AC3;
	height:3.12em;
}
.logo {
	float:left;
	background-color: white;
	width: 2.1em;
	height: 2em;
	margin: .5em 1em;
}
.wordpress{
	float:left;
	margin:.9em auto;
	color: #fff;
}
.dotCom{
	color:#98CEE4;
}
.login{
	background-color: #0070A4;
	float:right;
	color:#fff;
	text-align: center;
    box-sizing: border-box;
    padding: 1.38em 2em;
    font-size: .8em;
}
.mainBlock{
	height: 69.43em;
	background-color: #323F52;
	box-sizing: border-box;
	padding-top: 10.75em;
	text-align: center;
}
.headTxt{
	color:white;
	font-size: 2em;
	display:block;
	margin:0 auto 1em;
}
.headDscrp {
	color:white;
	font-size: 1em;
	margin:0 auto 1.4em;
	display:block;
}
.createBtn {
	margin: 0 4em 9em;
	background-color:#008AC3;
	color:#fff;
	font-size:1.4em;
	border: .6em solid #212934;
	box-sizing: border-box;
	padding: .6em;
}
.downBtn{
	background-color: white;
	height:1.25em;
	width:3.06em;
	margin: 0 auto 8.43em;
}
.benftsBtn{
	/*background-color: white;*/
	height:4.25em;
	width:18.75em;
	margin: 0 auto 1.8em;

}
.mainImg{
	float:left;
	width:3.1em;
	height:3.6em;
	background-color: #fff;
	/*margin-top: 0.64em;*/
}
.mainInfo{
	width: 14.7em;
	height:3.4em;
	float:right;
	margin:0 .2em;
	text-align: left;
	color: #fff;
	line-height: 1.5em;
}
.mainDesc{
	font-size:.8em;
}
.blueBg{
	padding: 1em .5em;
    background-color: #E8F0F5;
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
    line-height: 1.5em;
}
.greyBg{
	background-color: #D1D3D7;
	box-sizing:border-box;
	padding: .1em 0;
}
.features{
	height:13.5em;
	background-color: white;
	margin: 2em .5em;
	box-sizing:border-box;
	padding-top: 1.2em;
	
}
.featureImg{
	height:4em;
	width:4em;
	background-color: #C7D2D8;
	margin: 0 auto;
}
.featureTitle{
	color: #426277;
	text-align: center;
	margin:.5em auto;
	font-size:1.3em;
}
.featureDesc{
	margin: .8em auto;
    text-align: center;
    line-height: 1.4em;
    padding: 0 .6em;
    box-sizing: border-box;
}
.btmBtn {
	margin:1.5em 3.5em 0;
	background-color:#008AC3;
	color:#fff;
	font-size:1em;
	padding: .4em;
}

footer {
	background-color: black;
	line-height: 1.5em;
	padding: 1.7em 3.6em;
	text-align: center;
}
footer a{
	color:white;
	text-decoration: none;
	padding-right:.9em;
	font-size: .7em;
}
/*.autoLogo{
	width:8.3em;
	height:1.5em;
	background-color: white;
	margin:1.5em auto 3em;
}
*/