header {
	background-color:#008AC3;
	height:3.12em;
}
.logo {
	float:left;
	background-color: white;
	width: 2.1em;
	height: 2em;
	margin: .5em 1em;
}
.wordpress{
	float:left;
	background-color: white;
	width:7.4em;
	height:2em;
	margin:.5em auto;
}
.login{
	background-color: #0070A4;
	float:right;
	width: 4.6em;
	height:3.12em;
}
.mainBlock{
	height: 69.43em;
	background-color: #323F52;
	box-sizing: border-box;
	padding-top: 10.75em;
	text-align: center;
}
.headTxt{
	color:white;
	font-size: 2em;
	display:block;
	margin:0 auto 1em;
}
.headDscrp {
	color:white;
	font-size: 1em;
	margin:0 auto 1.4em;
	display:block;
}
.createBtn {
	margin: 0 auto 13.3em;
	background-color:#008AC3;
	height:3.37em;
	width:13em;
	border: .6em solid #212934;
}
.downBtn{
	background-color: white;
	height:1.25em;
	width:3.06em;
	margin: 0 auto 8.43em;
}
.benftsBtn{
	background-color: white;
	height:4.25em;
	width:18.75em;
	margin: 0 auto 1.8em;

}
.mainImg{
	float:left;
	width:3.1em;
	height:3.6em;
	background-color: #616E7F;
	margin-top: 0.64em;
}
.mainInfo{
	width: 14.7em;
	height:3.4em;
	float:right;
	background-color: #616E7F;
	margin:0 .2em;
}
.blueBg{
	height:11.8em;
	background-color: #E8F0F5;

}
.greyBg{

	height:99em;
	background-color: #D1D3D7;
	box-sizing:border-box;
	padding: 2em 0;
}
.features{
	height:13.5em;
	background-color: white;
	margin: 2em .5em;
	box-sizing:border-box;
	padding-top: 2.2em;
	
}
.featureImg{
	height:4em;
	width:4em;
	background-color: #C7D2D8;
	margin: 0 auto;
}
.featureTitle{
	height:1.5em;
	width:25em;
	background-color: #C7D2D8;
	margin:.5em auto;
}
.featureDesc{
	height:3em;
	width:25em;
	background-color: #C7D2D8;
	margin:.8em auto;

}
.btmBlock {
	height:10.6em;
	box-sizing:border-box;
	padding-top:6em;
}
.btmBtn {
	border: none;
	margin:0 auto;
}

footer {
	background-color: black;
	line-height: 1.5em;
	padding: 1.7em 3.6em;
	text-align: center;
}
footer a{
	color:white;
	text-decoration: none;
	padding-right:.9em;
	font-size: .7em;
}
.autoLogo{
	width:8.3em;
	height:1.5em;
	background-color: white;
	margin:1.5em auto 3em;
}
